
.idea/workspace.xml
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/autonomous-learning.iml
__pycache__/random_weighted_automaton.cpython-35.pyc
*.svg
*.png
*.pdf
.idea/dictionaries/Colin.xml
*.smv
__pycache__/model_check.cpython-35.pyc
